.Quiz {
display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #1f3600 0%, #456e1f 100% );
}
.Quiz h1 {
    color: #fff;
    margin-left: 2rem;
}

.QuizWrapper {
    width: 45rem;
}